table {
  width: 100%;
}

.custom-container {
  margin-left: 100px;
  margin-top: 60px;
  width: calc(100% - 100px);
}

.custom-btn-link{
  margin-left: 5px;
  color: #fff;
}

.custom-btn-link .glyphicon{
  color: #fff;
}

.custom-mat-cell{
  width: 120px;
}
